.select-css option {
    background-color: #1C1E2F;
    color: white
}

.select-css option:checked {
    background-color: #1C1E2F;
    color: white
}


.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link:before {
    content: none;
    position: absolute;
    left: 30px;
    right: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #fff;
    display: block;
}

.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link:before {
    content: none;
    position: absolute;
    left: 30px;
    right: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #fff;
    display: block;
}

.sidebar > .nav .nav-item .nav-link, .collapsed{
    padding: 15px 30px;
}

.mc-log-time{
    color:#19d895;
}

.mc-log-info{
    color:#8862e0;
}

.mc-log-warn{
    color:#ffaf00;
}

.mc-log-error{
    color:#af463f;
}

.mc-log-fatal{
    color:#da0f00;
}

.mc-log-keyword{
    color:#2196f3;
}

.scrollable-element {
  scrollbar-color: red yellow;
}
.term-nav-item {
    padding: 1%;
}

/* Fix body scrollbar color */
body { background-color: var(--dark) !important; /* Firefox */ }

/* Webkit */
/* Didn't really work out
::-webkit-scrollbar { background-color: #202538; }
::-webkit-scrollbar-button { background-color: #1D212F; }
::-webkit-scrollbar-thumb { background-color: #777A86; }
::-webkit-scrollbar-thumb:hover { background-color: #646773; }

::-webkit-scrollbar-track { background-color: #202538; }
::-webkit-scrollbar-corner { background-color: #202538; }*/

.actions_serverlist > a > i {
  cursor: pointer;
}
.corner {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}